<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>

<body>
    <footer class="py-5 text-center text-body-secondary bg-body-tertiary">
    <p>Copyright © <%= new Date().getFullYear()%></p>
    <p class="mb-0">
    <a href="#">Back to top</a>
  </p>
</footer>
</body>
</html>