<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scribbles</title>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <h2>Latest Posts</h2>
    <ul id="posts-list">
  </ul>

        <script>
        const storedPost = JSON.parse(localStorage.getItem('myblog_post'));
        if (storedPost) {
            const postsList = document.getElementById('posts-list');
            const listItem = document.createElement('li');
            listItem.innerHTML = `
            <h3><a href="post/${storedPost.id}">${storedPost.title}</a></h3>
            <p>${storedPost.content}</p>
            `;
            postsList.appendChild(listItem);
        } else {
            const postsList = document.getElementById('posts-list');
            postsList.innerHTML = '<p>No posts available yet.</p>';
        }
        </script>
    <%- include("partials/footer.ejs") %>
</body>
</html>