img {
    width: 15%;
    height: 15%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10%;
    border-radius: 5%;
}
header {
    background-color: grey;
    display: inline-block;
}

h3 {
    display: inline-block;
    font-size: 2rem;
    margin-left: 10px;
}

.nav-link {
    display: inline-block;
    margin-right: 50px;
    font-size: 1.5rem;
}

nav {
    margin: 50px;
}